#apexcharts-area{
    width: 100%;
    height: 350px;
}

.box-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
}

.box-list-item {
    height: 120px;
    width: calc(100% / 4 - 10px);
    background-color: white;
    border-radius: 16px;
    padding: 8px 12px;
}

.title-item{
    display: flex;
}

.item-icon i{
    width: 24px;
    height: 24px;
    font-size: 24px;
    margin-left: 2px;
}

.item-icon{
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    margin-right: 12px;
}

.icon-color-blue{
    color: #6493F9;
    background-color: #6493f927;
}
.icon-color-green{
    color: #35C75A;
    background: #35c75938;
}
.icon-color-orange{
    color: #FFAC6A;
    background-color: #ffad6a48;
}
.icon-color-red{
    color: #F86D6D;
    background-color: #f86d6d46;
}


.item-tile{
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #535261;
    /* text center */
    display: flex;
    align-items: center;

}

.item-tile2{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #535261;
}

.bgare-content{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #E73F3F;
    padding: 3px 7px;
    background-color: rgb(245, 224, 224);
    border-radius: 15px;
}

.bgare-icon{
    display: flex;
    align-items: center;
}

.title-item2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.chart-container{
    padding: 24px;
    background-color: white;
    border-radius: 15px;
}

.header-chart{
    display: flex;
    justify-content: space-between;
}

.header-1 h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #282739;
}

.header-1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A9A9B0;
}

.header-2 label{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    padding-right: 10px;
    width: 143px;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content-left{
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-y: scroll;
    /* ẩn thanh kéo */
    /* Hide scrollbar for Chrome, Safari and Opera */
}

/* ẩn thanh kéo .main-content-left */
.main-content-left::-webkit-scrollbar {
    display: none;
}

.container-left{
    padding: 24px;
    padding-top: 100px;
}

.box-service{
    width: 100%;
    height: 83px;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 12px;
}

.border-circle{
    border: 6px solid #FF7506;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #535261;
}

.content-left{
    display: flex;
}

.text-content-left{
    padding-left: 12px;
}

.text-content-left .text-1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #535261;
}

.text-content-left .text-2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FF7506;
}

.content-right{
    width: 150px;
    display: flex;
    /* column */
    flex-direction: column;
    justify-content: center;

}

.content-right p{
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7E7D88;
    padding: 0;
    margin-bottom: 0;
    /* margin: 5px 0px; */
}

.content-right i{
    font-size: 6px;
    transform: translate(-5px , -2px);
}

.content-right span{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FF7506;
}

a{
    color: black;
}

.calendar_header h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF7506;
}

.calendar_weekdays div{
    background-color: white;
    color: #FF9138 !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.calendar_content div{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7E7D88;
    color: black;
}

.calendar_content .past-date{
    color: #7E7D88;
}
